/* CSS declarations go here */
.ui.button{
	right: 0 !important;
	margin: 20px;
}
.card{
	cursor: pointer;
}

i.remove.user.icon{
	float: right;
	cursor: pointer;
}
.card:hover > i.remove.user.icon{
	display: block;
}

.selected{
	background-color: #4CAF50 !important;	
}